* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #ccf2f7;
    color: #fff;
}

.btn {
    height: 170px;
    width: 170px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}

h1 {
    color: #08e2ff;
    background-color: #00171F;
    padding-block: 1.2rem;
    letter-spacing: 3px;
    font-size: 2.5rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 91);
}

h2 {
    color: #00171F;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    line-height: 30px;
}

.red {
    background-color: rgb(185, 41, 98);
}

.yellow {
    background-color: rgb(204, 131, 53);
}

.green {
    background-color: rgba(40, 172, 159, 0.807);
}

.purple {
    background-color: rgb(147, 64, 188);
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(173, 227, 147);
}